<div class="container">
    <h1>Edit Meal</h1>
    
    <!-- Meal Details Form -->
    <form (ngSubmit)="saveMeal()">
      <div class="form-group">
        <label for="mealName">Meal Name</label>
        <input
          type="text"
          id="mealName"
          [(ngModel)]="meal.mealName"
          name="mealName"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="calories">Calories</label>
        <input
          type="number"
          id="calories"
          [(ngModel)]="meal.calories"
          name="calories"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="grams">Grams</label>
        <input
          type="number"
          id="grams"
          [(ngModel)]="meal.grams"
          name="grams"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="carbs">Carbs (g)</label>
        <input
          type="number"
          id="carbs"
          [(ngModel)]="meal.carbs"
          name="carbs"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="fats">Fats (g)</label>
        <input
          type="number"
          id="fats"
          [(ngModel)]="meal.fat"
          name="fats"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="protein">Protein (g)</label>
        <input
          type="number"
          id="protein"
          [(ngModel)]="meal.protein"
          name="protein"
          class="form-control"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
  