<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="container-sm d-flex justify-content-center align-items-center" style="min-height: 100vh;">

  <div class="w-100" style="max-width: 400px;">
    <h1 class="h1 text-center mb-4">Find your account</h1>
    <form (submit)="submit()" class="card p-4 shadow">
      <!-- Username Field -->
      <div class="mb-3">
        <p>Please enter your email or mobile number to search for your account.</p>
        <label for="email" class="form-label">Email:</label>
        <input type="text" [(ngModel)]="email" name="email" id="email" class="form-control" required>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">
        <i class="fas fa-exclamation-circle"></i> {{ errorMessage }}
      </div>

      <!-- Login and Register Buttons -->
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn-login w-100 mb-2" type="submit">Search</button>
      </div>

    </form>
  </div>
</div>

