
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="container-sm d-flex justify-content-center align-items-center" style="min-height: 100vh;">

  <div class="w-100" style="max-width: 400px;">
    <h1 class="h1 text-center mb-4">Reset your password</h1>
    <form (submit)="onSubmit()" class="card p-4 shadow">
      <!-- Username Field -->
      <div class="mb-3">
        <p>Please enter your new password.</p>
        <label  class="form-label">New Password:</label>
        <input class="form-control" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required />

        <label  class="form-label">Confirm Password:</label>
        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required />
      </div>

      <!-- Login and Register Buttons -->
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn-login w-100 mb-2" type="submit">Reset Password</button>
      </div>

    </form>
  </div>
</div>
