<div class="container mt-5">
  <h2 class="dashboard-title">User Dashboard</h2>

  <div class="charts-container mb-5">
    <div class="chart-box">
      <h3 class="chart-title">Users by Role</h3>
      <canvas #roleChartCanvas></canvas>
    </div>

    <div class="chart-box">
      <h3 class="chart-title">Users by Age Group</h3>
      <canvas #ageChartCanvas></canvas>
    </div>
  </div>

  <!-- Search and Actions -->
  <div class="search-bar mb-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by username..." [(ngModel)]="searchUsername">
      <button class="btn btn-primary" (click)="searchUser()">Search</button>
      <button class="btn btn-outline-secondary" (click)="loadAllUsers()">Reset</button>
    </div>
  </div>

  <!-- Users Table -->
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-primary">
      <tr>
        <th (click)="sortUsers('username')">Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birthdate</th>
        <th>Picture</th>
        <th>Role</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.birthdate }}</td>
        <td>
          <img [src]="user.profilePictureUrl" alt="picture" class="profile-pic">
        </td>
        <td>{{ user.role }}</td>


        <td class="d-flex gap-2 text-center">
          <button class="btn btn-sm btn-danger" (click)="deleteUser(user.email)">
            <i class="bi bi-trash"></i> Delete
          </button>
          <button *ngIf="!user.banned" class="btn btn-sm btn-danger" (click)="banUser(user.username)">Ban</button>
          <button *ngIf="user.banned" class="btn btn-sm btn-success" (click)="unbanUser(user.username)">Unban</button>
        </td>

      </tbody>
    </table>
  </div>
</div>
