<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<h2>Mood Score Over Time</h2>
<canvas
  baseChart
  [data]="moodChartData"
  [type]="moodChartType"
  [options]="{ responsive: true }">
</canvas>

<h2 class="mt-5">Emotion Distribution</h2>
<canvas
  baseChart
  [data]="distributionChartData"
  [type]="distributionChartType"
  [options]="{ responsive: true }">
</canvas>

<h2 class="mt-5">Emotion Timeline</h2>
<canvas
  baseChart
  [data]="timelineChartData"
  [type]="timelineChartType"
  [options]="{ responsive: true, scales: { x: { stacked: true }, y: { stacked: true } } }">
</canvas>
